body {
    background-color: #F8F8F8;
    color: #1E2835;
    font-size: 1.2em;
}
a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
    transition: color 0.5s;
}
a:hover {
    color: #3476FF;
}
form {
    padding: 20px;
    text-align: center;
    background-color: #575E68;
}
form.pure-form {
    margin-bottom: 0;
}
img {
    vertical-align: middle;
}
.button-primary {
    background-color: #3476FF;
}
h1 {
    padding: 20px;
    background-color: #CDDDFF;
    margin: 0 0 20px 0;
    text-align: center;
}
h2 {
    margin: 0 0 5px 0;
}
div#result {
    transition: opacity 1s;
}
div#result.transparent{
    opacity : 0;
}
div.main {
    padding: 60px;
}
div.main img {
    float: left;
}
div.main .artist {
    padding-left: 84px;
    padding: 0 20px 20px 84px;
    margin-bottom: 20px;
}
ul {
    padding: 0;
}
li {
    list-style-type: none;
}